@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

.nav-menu {
    font-size: 1rem;
    color: white;
    background-color: rgb(35, 35, 40);
    font-family: 'Nunito', sans-serif;
    padding: 0.5rem;
    border-radius: 15px;
    border:0.15rem solid rgb(17.5, 17.5, 20);
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
}

.nav-menu h1 {
    text-align: center;
    margin: 0;
    font-size: 4rem;
}

.nav-menu a {
    font-weight:600;
    padding: 0.5rem;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(255, 255, 227);
    text-decoration: none;
    font-weight: bold;
}

.border-bottom {
    border-bottom: 0.15rem solid gray;
}

.border-vert {
    border-top: 0.15rem solid gray;
    border-bottom: 0.15rem solid gray;
}

.border-top {
    border-top: 0.15rem solid gray; 
}

.selected-opt {
    color: rgb(255, 255, 127) !important;
}